@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
    font-family: titles;
    src: url(../fonts/FTY_SKRADJHUWN_NCV.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E0C11;
    font-family: 'Lato', sans-serif;
    color: #ddd;
}

/***************LINKS AND NAVBAR*******************/

.navbar-default {
    background: #000;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0!important;    
    height: 70px;    
}

/* .logo */
.navbar-default .logo {
    height: 70px;
    line-height: 35px;
}

.logo > a > img{
    width: 100%;
    height: 100%;
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
}
/* End .logo */

.navbar-default .nav li a {
    color: #fff;
    font-size: 21px;
    height: 70px;
    line-height: 40px;    
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #ff7a00;
        transition: color 1s;
    }

.navbar-default .navbar-toggle {
    border: none;
    padding-top: 20px;
    background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #ff7a00;
    border-color: #000;
    
}

.navbar-default .navbar-collapse {
    border-color: #000;
    background-color: #000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #000;}

a { 
    color: #ff7a00;   
    font-family: titles;
    text-decoration: none;  
}

a:hover {
    text-decoration: none;
    color: red;
    transition: color 1s;
}

/****************END LINKS AND NAVBAR**************/


/** GLOBAL CLASES STYLING **/

/* start page container */

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

/* end page container */


h1 {
    font-family: titles;
    font-weight: 200;
    color: #ff7a00;
    text-align: center;
}

nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px){
    nav > ul{
        flex-direction: column;
    }
}

/**** #home *****/

#home {
    background-image: linear-gradient(0deg, rgba(26,26,26,0.85), rgba(26,26,26,0.85)), url(../images/gig-image.jpg);
    background-position: 50% 50%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    margin-top: 50px;
}

#home > h1{
    margin: 115px 20px 30px 40px;
    word-wrap: break-word;
    color: #ff7a00;    
    font-size: 4.5rem;    
}

#home > p{
    font-size: 2.0rem;
}

#home > .button {
    border: 2px solid #ff7a00;
    border-radius: 10px;
    background: transparent;
    color: #ff7a00;    
    text-transform: uppercase;
    text-decoration: none;    
    font-size: 3.3rem;
    margin: 35px auto 60px;
    padding: 9px 21px 9px 21px;
    font-family: titles;
    cursor: pointer;
}

#home > .button:hover {
    color: red;
    border: 2px solid red;
    transition: color 1s;
    
}


@media (max-width: 650px){
    #home{
        margin-top: 120px;
    }
}

/**********End home************/

/***** #advantages *****/

#advantages{
    margin-top: 3px;
}

#advantages {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 80px;
}

#advantages iconify-icon {
    color: #ff7a00;
    font-size: 60px;
    margin: 10px;
}

#advantages h1 {
    margin: 50px 20px 30px 40px;
    font-size: 3.5rem;
}

#advantages p {
    text-align: center;
    font-size: 2.0rem;
}


@media (max-width: 550px){
    #advantages .icon{
        display: none;
    }
}

/* #advantages .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
} */

/* @media (max-width: 550px){
    #advantages .description{
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px){
    #advantages{
        margin-top: 0;
    }
} */
/********End Advantages**********/

/* #Vox pupuli, vox dei */

#voxpopuli {
    margin-top: 3px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 80px;
}

.opinion {
    width: 114px;
    height: 114px;
}

#voxpopuli iconify-icon {
    color: #ff7a00;
    font-size: 60px;
    margin: 10px;
    align-items: center; 
}

#voxpopuli h1 {
    margin: 50px 20px 30px 40px;
    font-size: 3.5rem;
}

#voxpopuli p {
    text-align: center;
    font-size: 2.0rem;
}

/************Responsive***********/

@media (max-width: 550px){
    #voxpopuli .description {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px){
    #advantages{
        margin-top: 0;
    }
}

/* End Vox pupuli, vox dei */

/**** #subscribe *****/

#subscribe h1 {
    padding-bottom: 10px;
}

#subscribe p {
    font-size: 2.0rem;
}

#subscribe .contact-form {
    padding-top: 40px;
}

#subscribe fieldset {
    border: 2px solid #ff7a00;
    border-radius: 10px;
}

#subscribe .form-control {
    border: 2px solid #ff7a00;
    border-radius: 10px;
    color: #ff7a00;
    background: transparent;
    box-shadow: none;
    margin-bottom: 20px;
}

#subscribe input {
    height: 40px;
}

#subscribe input[type="submit"] {
    background: #ff7a00;
    color: #fff;
    font-weight: bold;
    font-size: 2.0rem;
    text-transform: uppercase;
}

#subscribe input[type="submit"]:hover {    
    background: rgb(38, 173, 11);
    font-weight: bold;
    font-size: 2.0rem;
    transition: 1s;
    border: none;
}

/******** End #subscribe *********** */


@media (max-width: 800px){
    #subscribe{
        flex-direction: column;
    }
}

/********** F O O T E R *********/

footer{           
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 20px;    
}

footer > ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

footer > ul > li a{
    padding: 0 10px;
    text-decoration: none;
}

footer > span{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #ddd;
}
